<!-- this page is shown when reset password is requested -->

<br><br><br>
<h3>New Generated password send to your registered email.<br> Kindly login using the password and change your password.</h3>
<br><br><br>